<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="<%= keywords %>" />
	<meta name="description" content="<%= description %>" />
	<meta name="copyright" content="版权所有 &copy; 2015-2018 深圳比特萌信息技术有限公司 保留所有权利" />
	<meta itemprop="name" content="比特萌信息公司" />
	<meta itemprop="image" content="/images/f_256x256.png" />
	<meta itemprop="description" content="比特萌信息(BITMOE) 是一家致力于信息技术的研究及开发的新一代科技公司，主营电子商务技术研发、计算机系统维护、计算机/移动设备软件开发等。" />
	<title><%= title %></title>
	<link rel="shortcut icon" href="<%= rootPath %>/favicon.ico"/>
	<link rel="stylesheet" href="<%= rootPath %>/build/<%= page %>.css" />
</head>
<body>
	<div id="root"><%- __html %></div>
	<script src="//f.alicdn.com/react/15.4.1/react-with-addons.min.js"></script>
	<script src="//f.alicdn.com/react/15.4.1/react-dom.min.js"></script>
	<script>
		window.rootPath = '<%= rootPath %>';
  </script>
	<script src="<%= rootPath %>/build/<%= page %>.js"></script>
</body>
</html>